* {
    padding: 0;
    margin: 0;
}

.barraLateral {
    background-color: #1E1352;
    width: 20vw;
    height: 100vh;
    position: absolute
}
.foto {
    /* background-color: chocolate; */
    position: absolute;
    width: 20vw;
    height: 30vh;
}

.inforPessoal {
    /* background-color: green; */
    position: absolute;
    width: 20vw;
    height: 25vh;
    margin-top: 30vh;
}

.formacao {
    /* background-color: yellow; */
    position: absolute;
    width: 20vw;
    height: 25vh;
    margin-top: 55vh;
}

.linguagens {
    /* background-color: brown; */
    position: absolute;
    width: 20vw;
    height: 20vh;
    margin-top: 80vh;
}

.name {
    background-color: #525059;
    position: absolute;
    width: 80vw;
    height: 20vh;
    margin-left: 20vw;
    
}
.resProf {
    /* background-color: #eee; */
    position: absolute;
    width: 80vw;
    height: 30vh;
    margin-left: 20vw;
    margin-top: 20vh;
}
.histProf {
    /* background-color: darkgoldenrod; */
    position: absolute;
    width: 80vw;
    height: 30vh;
    margin-left: 20vw;
    margin-top: 50vh;
    
}

.competencias {
    /* background-color: black; */
    position: absolute;
    width: 80vw;
    height: 20vh;
    margin-left: 20vw;
    margin-top: 80vh;
}

h1 {
    font-size: 20px;
    margin-left: 1vw;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    margin-top: 2vh;
}

.name h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    font-weight: 600;
    color: bisque;
    margin-top: 6vh;
    text-align: center;
    margin-left: 0;
}

h2 {
    text-transform: uppercase;
    color: cadetblue;
    font-size: 15px;
    text-align: center;
}